<div class="form-group">
  <form class="form-inline" action="answer">
    <label for="question" class="control-label">Ask your coach anything:</label>
    <input type="text" class="form-control" name="question" placeholder="Ask your question here">
    <input type="submit" class="form-control btn-primary" value="Ask!">
  </form>
</div>
